@charset 'utf-8';
@import url("./reset.css");

/* 인트로 */
.intro {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  z-index: 999;
}
.intro_title {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
.intro .container > .intro_title div {
  text-align: center;
}
.intro .container > .intro_title div span {
  font-size: 6.25rem;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  will-change: transform, opacity;
}
.intro_top {
  margin-bottom: 20px;
}
.intro .container p {
  width: fit-content;
  font-size: 1rem;
  font-weight: 400;
  color: #dfdfdf;
  text-transform: uppercase;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translatex(-50%);
}
/*  작업으로 디스플레이 논 */
.intro {
  /* display: none; */
}

/* 헤더 */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 998;
}
#gnb {
  width: 30%;
  height: 100%;
  margin: 0 auto;
}
#gnb ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gnb ul li {
  font-size: 1.125rem;
  font-weight: 700;
}
#gnb ul li a::before {
  content: "";
  font-size: 0;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #222;
  border-radius: 50%;
  float: left;
  margin-top: 4px;
  margin-right: 12px;
}
#gnb ul li:hover a::before {
  background-color: #22df6c;
}
#gnb ul li:hover a {
  color: #22df6c;
}
/* 섹션 1 About ME */
.about_me .container .left_title_wrap span {
  font-size: 6.25rem;
  font-weight: 700;
}
.about_me .container {
  display: flex;
  align-items: center;
}
.about_me_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 180px;
}
.left_title_wrap {
  width: fit-content;
  display: none;
}
.left_text_1 {
  margin-bottom: 46px;
}
.left_text_2 {
  margin-bottom: 46px;
}
.left_img_box {
  /* position: absolute; */
}
.right_title_wrap {
  width: fit-content;
  height: 100%;
  margin-top: 12px;
}
.title_top > span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
}
.title_top > p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 30px;
  margin-top: 30px;
}

.title_bottom {
  margin-top: 80px;
  display: flex;
  gap: 54px;
}
.education_item {
  margin-bottom: 20px;
}
.education_item h4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #222;
}
.education_item p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #666;
}
.skill_img_wrap {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.figma_logo {
  margin-top: 4px;
}
.gsap_logo {
  margin-top: 14px;
}
/* 섹션2 portfolio */
.portfolio {
  background-color: #000;
}
.portfolio_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/portfolio_img/portfolio_bg.png") no-repeat 50% 0/ 100%;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.portfolio .container h2 {
  margin-bottom: 80px;
  color: #fff;
}
.portfolio_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.left_text_box {
  margin-top: 30px;
}
.left_text_box .left_text_title {
  margin-bottom: 70px;
}
.left_text_box .left_text_title span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
.left_text_box .left_text_title h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
.left_text_box_item {
  margin-bottom: 30px;
}
.left_text_box_item > h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.hash_tag {
  display: flex;
  gap: 16px;
}
.hash_tag p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}
.left_text_box_btn_wrap {
  margin-top: 60px;
}
.left_text_box_btn_wrap button {
  outline: none;
  border: none;
  padding: 12px 24px;
  font-weight: 600;
  border: 1px solid #fff;
  background-color: #000;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}
/* .left_text_box_btn_wrap button:hover {
  scale: 1.05;
} */
.right_img {
  width: 990px;
  height: 536px;
  background-color: tomato;
}

/* 섹션3 contact */
.contact {
  background-color: #f1f1f1;
}
